*
!*/
!.gitignore
!CMakeLists.txt
!*.cpp
!*.h
!*.py
!*.pdf
!data_*
!README.md

# Generated/build outputs
build/
build-*/
build_*/
build.local/
build-local/

# Ignore python directory entirely
python/
python/
